doctype
html#ng-app(ng-app='uploads')
  // id="ng-app" IE<8
  head
    title Simple example
    link(rel='stylesheet', href='http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css')
    // Fix for old browsers
    script(src='http://code.jquery.com/jquery-1.8.3.min.js')
    script(src='http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js')
    script(src='bower_components/angular/angular.js')
    script(src='bower_components/ngstorage/ngStorage.js')
    script(src='bower_components/angular-file-upload/angular-file-upload.js')
    script(src='controllers/uploads.controllers.js')
    script(src='services/uploads.factory.js')
    script(src='directives/uploads.directives.js')
    script(src='uploads.js')
    style.
      .my-drop-zone { border: dotted 3px lightgray; }
      .nv-file-over { border: dotted 3px red; } /* Default class applied to drop zones on over */
      .another-file-over-class { border: dotted 3px green; }
      html, body { height: 100%; }
  body(ng-controller='uploads.controllers', nv-file-drop='', uploader='uploader', filters='queueLimit, customFilter')
    .container(ng-switch='tokenStatus')
      .row(ng-switch-when='recieved')
        .col-md-3
          h3 Select files
          div(ng-show='uploader.isHTML5')
            // 3. nv-file-over uploader="link" over-class="className"
            .well.my-drop-zone(nv-file-over='', uploader='uploader', filters='imageFilter') Base drop zone
          | Single
          input(type='file', nv-file-select='', uploader='uploader', filters='imageFilter')
        .col-md-9(style='margin-bottom: 40px')
          h2 Files
          div(ng-repeat='item in uploader.queue')
            div(ng-show="uploader.isHTML5", ng-thumb="{ file: item._file, height: 100 }")
            strong {{ item.file.name }}
            p(
            ng-show='uploader.isHTML5',
            nowrap='',
            style='display: inline-block') {{ item.file.size/1024/1024|number:2 }} MB
          div
            button.btn.btn-success.btn-s(
            type='button',
            ng-click='uploader.uploadAll()',
            ng-disabled='!uploader.getNotUploadedItems().length')
              | Upload all
            button.btn.btn-warning.btn-s(
            type='button',
            ng-click='uploader.cancelAll()',
            ng-disabled='!uploader.isUploading')
              | Cancel all
            button.btn.btn-danger.btn-s(
            type='button',
            ng-click='uploader.clearQueue()',
            ng-disabled='!uploader.queue.length')
              | Remove all
      .row(ng-switch-when='missing')
        .col-md-12
          h1 No token has been recieved
