div(nv-file-drop='', uploader='vm.uploader')
  .container
    .row
      .col-md-3
        h3 Select files
        div(ng-show='vm.uploader.isHTML5')
          .well.my-drop-zone(nv-file-over='', uploader='vm.uploader') Base drop zone
        | Single
        input(type='file', nv-file-select='', uploader='vm.uploader')
      .col-md-9(style='margin-bottom: 40px')
        h2 Files
        div(ng-repeat='item in vm.uploader.queue')
          div(ng-show="vm.uploader.isHTML5" ng-thumb='item' height='100')
          strong {{ item.file.name }}
          p(
          ng-show='vm.uploader.isHTML5',
          nowrap='',
          style='display: inline-block') {{ item.file.size/1024/1024|number:2 }} MB
        div
          button.btn.btn-success.btn-s(
          type='button',
          ng-click='vm.uploader.uploadAll()',
          ng-disabled='!vm.uploader.getNotUploadedItems().length')
            | Upload picture
          button.btn.btn-danger.btn-s(
          type='button',
          ng-click='vm.uploader.clearQueue()',
          ng-disabled='!vm.uploader.queue.length')
            | Remove picture