div(nv-file-drop='', uploader='uploader')
  .container(ng-switch='tokenStatus')
    .row(ng-switch-when='received')
      .col-md-3
        h3 Select files
        div(ng-show='uploader.isHTML5')
          .well.my-drop-zone(nv-file-over='', uploader='uploader') Base drop zone
        | Single
        input(type='file', nv-file-select='', uploader='uploader')
      .col-md-9(style='margin-bottom: 40px')
        h2 Files
        div(ng-repeat='item in uploader.queue')
          div(ng-show="uploader.isHTML5", ng-thumb="{ file: item._file, height: 100 }")
          strong {{ item.file.name }}
          p(
          ng-show='uploader.isHTML5',
          nowrap='',
          style='display: inline-block') {{ item.file.size/1024/1024|number:2 }} MB
        div
          button.btn.btn-success.btn-s(
          type='button',
          ng-click='uploader.uploadAll()',
          ng-disabled='!uploader.getNotUploadedItems().length')
            | Upload picture
          button.btn.btn-danger.btn-s(
          type='button',
          ng-click='uploader.clearQueue()',
          ng-disabled='!uploader.queue.length')
            | Remove picture
    .row(ng-switch-when='missing')
      .col-md-12
        h1 No token has been received
